@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ur5bap');
  src:  url('fonts/icomoon.eot?ur5bap#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ur5bap') format('truetype'),
    url('fonts/icomoon.woff?ur5bap') format('woff'),
    url('fonts/icomoon.svg?ur5bap#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adjust:before {
  content: "\e900";
}
.icon-chat-bubble-dots:before {
  content: "\e901";
}
.icon-cog:before {
  content: "\e902";
}
.icon-compose:before {
  content: "\e903";
}
.icon-document:before {
  content: "\e904";
}
.icon-edit-pencil:before {
  content: "\e905";
}
.icon-globe:before {
  content: "\e906";
}
.icon-home:before {
  content: "\e907";
}
.icon-key:before {
  content: "\e908";
}
.icon-list:before {
  content: "\e909";
}
.icon-notifications:before {
  content: "\e90a";
}
.icon-save-disk:before {
  content: "\e90b";
}
.icon-send:before {
  content: "\e90c";
}
.icon-star-full:before {
  content: "\e90d";
}
.icon-thumbs-down:before {
  content: "\e90e";
}
.icon-thumbs-up:before {
  content: "\e90f";
}
.icon-time:before {
  content: "\e910";
}
.icon-view-show:before {
  content: "\e911";
}
.icon-user-circle-o:before {
  content: "\e913";
}
.icon-user-circle:before {
  content: "\e912";
}
