{% extends 'layout.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="container">
        <div class="bg-dark text-white mt-5 p-3">
            <h3>Arama Sonuçları</h3>
        </div>
    </div>

    <!--Postlar-->
    <div class="container subject-container">
        <div class="row mt-3 mb-3">
            <div class="col-1 mt-4"><span style="font-size: 48px;" class="icon-user-circle"></span></div>
            <div class="col-11">
                <p>{{topics.title}}</p>
                <p>Konu hakkında açıklamaların devamı</p>
                <p style="font-size: 10px;" class="text-muted">07/07/1923</p>
            </div>
        </div>
        <hr>
        
    </div>



{% endblock %}