{% extends 'layout.html' %}
{% load static %}
{% load humanize %}

{% block title %}
{{topic.title}}
{% endblock %}

{% block content %}

<div class="container bg-dark text-light rounded mb-3">
    <!--Title-->
    <hr class="mt-5">
    <div class="d-flex justify-content-start">
        {% if topic.titlePrefix == 'Öneri' %}
        <h4>
            <div class="badge bg-info">{{topic.titlePrefix}}</div> {{topic.title}}
        </h4>
        {% endif %}
        {% if topic.titlePrefix == 'Yardım' %}
        <h4>
            <div class="badge bg-danger">{{topic.titlePrefix}}</div> {{topic.title}}
        </h4>
        {% endif %}

        {% if topic.titlePrefix == 'Kurallar' %}
        <h4>
            <div class="badge bg-warning">{{topic.titlePrefix}}</div> {{topic.title}}
        </h4>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-3">
            <p style="font-size: 0.8rem" class="text-secondary"><span class="icon-user-circle"></span>
                {{topic.author}} - <span style="font-size: 0.8rem" class="icon-time"></span>
                {{topic.LastUpdate|naturaltime}} - {{commentCounter}} Yanıt</p>
        </div>
        {% if user.username == topic.author %}
        <form action="{% url 'deleteTopic' topic.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group mb-3">

                <button type="submit" class="btn btn-danger">Sil</button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
<!--Pagination-->
<div class="container pagination p-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link bg-dark text-light" href="#">Önceki</a></li>
            <li class="page-item"><a class="page-link bg-dark text-light" href="#">1</a></li>
            <li class="page-item"><a class="page-link bg-dark text-light" href="#">2</a></li>
            <li class="page-item"><a class="page-link bg-dark text-light" href="#">3</a></li>
            <li class="page-item"><a class="page-link bg-dark text-light" href="#">Next</a></li>
        </ul>
    </nav>
</div>

<!--Content-->
<div class="container rounded">
    <!--Post&Comment-->
    <div class="row">
        <div class="col-10 ">
            <div class="rounded">
                <div class="rounded p-3 bg-dark text-light">
                    <p class="text-secondary bg-dark">{{topic.LastUpdate|naturaltime}}</p>
                    <p class="">{{topic.subject|safe}}</p>
                </div>

                {% for comment in comments %}

                <div class="container subject-container bg-dark rounded text-light mt-2">
                    <div class="row mt-3 mb-3">
                        <div class="col-1 mt-4">
                            <span style="font-size: 48px;" class="icon-user-circle text-light"></span>
                            {% if user.username == comment.user.username %}
                        <form class="mt-2" action="{% url 'deleteComment' comment.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <button type="submit" class="btn btn-danger">Sil</button>
                            </div>
                        </form>
                        {% endif %}
                        </div>
                        <div class="col-11">
                            <br>
                            <p>{{comment.user.username}}</p>
                            <p>{{comment.message|safe}}</p>
                            <p style="font-size: 10px;" class="text-secondary">{{comment.time|naturaltime}}</p>
                        </div>
                    </div>
                    <hr>
                </div>
                {% endfor %}
            </div>
            <!-- NEW Comment-->
        </div>
        <div class="col-2 bg-dark p-3 rounded text-light">
            <p class="mt-3"><span class="icon-chat-bubble-dots"></span> Son Konular</p>
            <hr>
            {% for topic in topics %}
            <div>
                {{topic.title}}
            </div>
            {% endfor %}
        </div>
    </div>

    <!--ssss-->
    {% if topic.is_commentable %}
    <div class="row">
        <div class="col-10 text-light mt-3">
            <div class="rounded p-3 bg-dark">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <textarea class="ckeditor" name="editor" required></textarea>
                        <br>
                        <button class="btn btn-success flex-right" type="submit">Cevap Yaz!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}



    {% endblock %}